  * {
      box-sizing: border-box;
}
html,body{
    margin: 0;
}

header {
    font-family: "Trebuchet MS",arial,sans-serif;
    background-color: powderblue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
    display: flex;
    height: 257px;
    justify-content: center;
    border-bottom-style: solid;
}

nav {
    float: left;
    width: 10%;
    background-color: lightskyblue;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li{
    width:100%;
    padding: 12px;
}
ul li a{
    text-decoration: none;
    color: black;
}

article {
    float: left;
    padding: 36px;
    width: 90%;
    background-color: lightblue;
    line-height: 150%;
    font-size: 20px;
}

section{
    background-color: lightskyblue;
}

section:after {
    content: "";
    display: table;
    clear: both;
    
}

footer {
    background-color: dodgerblue;
    padding: 10px;
    text-align: center;
    color: white;
}

figure{
    float: right;
    padding: 5px;
    text-align: center;
}

table{
    border-color: black;
    border-style: solid;
    border-collapse: collapse
}
th{
    border-collapse: inherit;
    border-color: black;
    border-style: solid;
    background-color:cornsilk;
}
td{
    border-collapse: inherit;
    border-color: black;
    border-style: solid;
    text-align: center;
}

.obrazky{
    display: flex;
    justify-content: center;
}

nav li{
    border-left-style: solid;
    border-left-color: lightskyblue;
}

nav li:hover{
    border-left-color: black;
    background-color: chartreuse;
}

.malo{
    padding-bottom: 80px;
}
.malop{
    padding-bottom: 150px;
}